<% function showReturns(str) { %>
<%   return str.replace(/(?:\r\n|\r|\n)/g, '<br />'); %>
<% } %>

<% function writeDate(timestamp) { %>
<%   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
<%   var date = new Date(timestamp * 1000); %>
<%   return ' ' + months[date.getMonth()] + ' ' + date.getDate(); %>
<% } %>

<% for(var i = 0, len = this.length; i < len; i++) { %>
  <% var story = this[i] %>
  <div class="story-container" data-story_id="<%= story.story_id %>"
       data-discussion="<%= story.discussion %>" data-content="<% story.content %>">
    <div class="story"><%= story.content %></div>
    <div class="votes">
      <button type="button" class="approve-button btn"
              data-story_id="<%= story.story_id %>">Approve</button>
      <button type="button" class="deny-button btn"
              data-story_id="<%= story.story_id %>">Deny</button>
      <button type="button" class="edit-button btn"
              data-story_id="<%= story.story_id %>">Edit</button>
    </div>
    <div class="byline">
      <img src="/public/images/clock.png" />
      <span class="date"><%= writeDate(story.created) %></span>
      <span class="author"></span>
    </div>
    <div class="clear"></div>
    <div class="discussion">
    </div>
  </div>
<% } %>
